@font-face {
    font-family: "ceym";
    src: url("https://testingcf.jsdelivr.net/gh/ghboke/corepresscdn@master/static/lib/font/ceym/ceym.woff2") format("woff2");
}

body {
    font-family: ceym !important;
    background: linear-gradient(-20deg, #114514 5%, #AEDD81 95%);
    background-size: cover;
}

body,
html {
    height: 100%;
}

/* 遮罩层 */
.result {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0;
    justify-content: center;
    /* align-items: center; */
    z-index: -1;
    transition: opacity .4s ease-out, all .2s;
    transform: translateZ(0);
}

/* 弹窗 */
.result-content {
    width: 450px;
    margin-top: 0;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #9b9ea0;
    transition: margin-top .4s ease-out;
}

.result-content>.result-header {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 56px;
    font-size: 25px;
    border-bottom: 1px solid #9b9ea0;
    display: flex;
    justify-content: space-between;
}

.result-content>.result-header>.result-close {
    cursor: pointer;
    /* 不可选中 */
    user-select: none;
}

.result-content>.result-body {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #9b9ea0;
    font-size: 19px;
}

.result-content>.result-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.result-content>.result-footer>button {
    width: 90px;
    line-height: 35px;
    font-size: 18px;
    background-color: #61bee9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    display: block;
}

/* 显示弹窗 */
.result-show {
    opacity: 1;
    z-index: 100;
}

.result-show>.result-content {
    margin-top: 20px;
}

footer {
    width: 100%;
    text-align: center;
}