@font-face {
    font-family: "ceym";
    src: url("https://testingcf.jsdelivr.net/gh/ghboke/corepresscdn@master/static/lib/font/ceym/ceym.woff2") format("woff2");
}

body {
    font-family: ceym!important;
    background: linear-gradient(-20deg, #57875a 5%, #AEDD81 95%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

input[type=text] {
    border: none;
    text-align: center;
    outline: none;
}

.card {
    width: 800px;
    border-radius: 10px;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.form-group {
    padding: 5px 20px 20px 20px;
    box-sizing: border-box;
    width: 100%;
}

.form-group>label {
    width: 100px;
    line-height: 40px;
    font-size: 18px;
}

.form-group>input {
    width: 100%;
    line-height: 28px;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group>#submit {
    width: 75%;
    line-height: 40px;
    font-size: 18px;
    background-color: #61bee9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    display: block;
}


/* 遮罩层 */
.dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0;
    justify-content: center;
    /* align-items: center; */
    z-index: -1;
    transition: opacity .4s ease-out, all .2s;
    transform: translateZ(0);
}

/* 弹窗 */
.dialog-content {
    width: 450px;
    margin-top: 0;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #9b9ea0;
    transition: margin-top .4s ease-out;
}

.dialog-content>.dialog-header {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 56px;
    font-size: 25px;
    border-bottom: 1px solid #9b9ea0;
    display: flex;
    justify-content: space-between;
}

.dialog-content>.dialog-header>.dialog-close {
    cursor: pointer;
    /* 不可选中 */
    user-select: none;
}

.dialog-content>.dialog-body {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #9b9ea0;
    font-size: 19px;
}

.dialog-content>.dialog-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.dialog-content>.dialog-footer>button {
    width: 90px;
    line-height: 35px;
    font-size: 18px;
    background-color: #61bee9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    display: block;
}

/* 显示弹窗 */
.dialog-show {
    opacity: 1;
    z-index: 100;
}

.dialog-show>.dialog-content {
    margin-top: 20px;
}
footer{
    position: fixed;
    bottom: 5px;
    width: 100%;;
    text-align: center;
    
    font-size: 18px;
}
footer p{
    color: #222;
    margin: 0;
    height: 30px;
    line-height: 30px;
}
footer a{
    color: #222;
    text-decoration: none;
}
footer a:hover{
    color: #61bee9;
    text-decoration: underline;
}